<ul>
<li><strong>3/13/2026</strong> – <a href="https://www.benningtonbanner.com/local-news/bennington-area-robotics-teams-shine-at-tech-challenge/article_6e2ff82e-e0ae-4fed-a300-153dac5ce625.html" target="_blank">Bennington area robotics teams shine at Tech Challenge</a> – Bennington Banner</li>
<li><strong>3/9/2026</strong> – <a href="https://www.uvm.edu/cems/news/robots-rule-gym" target="_blank">Robots Rule the Gym</a> – UVM CEMS (Chris Dissinger)</li>
<li><strong>10/31/2025</strong> – <a href="https://www.manchesterlifemagazine.com/post/first-and-foremost" target="_blank">First and Foremost: A closer look at the FIRST youth robotics programs in Southern Vermont and beyond</a> – Manchester Life Magazine</li>
</ul>
